body {
    font-family: Arial, sans-serif;
    text-align: center; 
    padding: 20px;
}

.download-buttons {
    display: flex;
    justify-content: space-between; 
    margin-top: 50px; 
}

.download-button {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 10px;
    width: 45%; 
}

/* Styling for 'Fluxus' and 'Contact me' sections */
.sections {
    display: flex;
    justify-content: space-between;
    margin-top: 30px; 
}

.section {
    width: 45%;
}

.side-sections {
    display: flex;
    flex-direction: column; /* Stack sections vertically */
    margin-top: 30px; 
    align-items: flex-end; /* Right-align sections within container */
}

.section {
    width: 40%; /* Adjust width as needed */
    margin-bottom: 15px; /* Add some space between sections */
}
